.stage-editor-container {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.stage-editor-out-of-date-documents {
  width: 100%;
  background-color:#FBEAC7;
  border-bottom: 1px solid #7C6A51;
  padding: 10px;
  font-size:11pt;
  font-family: Arial, Helvetica, sans-serif;
}

.stage-editor-schema {
  padding: 0px;
  overflow: auto;
  flex-grow: 1;
}

.stage-editor-update-out-of-date-documents-button {
  text-decoration: underline;
}

.stage-editor-update-out-of-date-documents-button:hover {
  cursor: pointer;
}