.stages-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.stages-bar-container button:hover {
  cursor: pointer;
}

.stages-run-export-buttons:hover {
  background-color: #e7e5e5;
}

.stages-run-export-buttons {
  background-color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 9pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: bolder;
  padding: 4px 18px;
  margin-left: 1px;
  border: 1px solid black;
}

.stages-bar-stages-area {
  flex-grow: 1;
  border: 1px solid black;
  padding: 4px;
  display: flex;
  background: white;
  align-items: center;
}

.stages-bar-data-source {
  background-color: #4CA35A;
  text-transform: uppercase;
  font-size: 9pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f5f5;
  font-weight: bolder;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  transition: 150ms all;
}

.stages-bar-data-source:hover {
  cursor: pointer;
}

.stages-bar-data-source-is-selected {
  box-shadow: 0 2px 4px 0 rgba(61, 63, 63, 0.19), 0 1px 2px 0 rgba(0, 0, 0, .14);
  border-color: #ffa318;
  border-bottom: 2px solid rgb(61, 63, 63);
  padding-bottom: 3px;
}

.stages-bar-stages-empty-space {
  flex-grow: 1;
}

.stages-bar-expand-button {
  float: right;
}

.stages-bar-stage-container {
  display: inline-block;
}

.stages-bar-stage-arrow-right {
  margin: 0 4px;
}

.stages-bar-stage {
  padding: 4px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 9pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a2c5e;
  font-weight: bolder;
  border: 1px solid rgb(61, 63, 63);
  display: inline-block;
  position: relative;
  transition: 200ms all;
}

.stages-bar-stage:hover {
  cursor: pointer;
}

.stages-bar-stage-is-selected {
  /* background-color: rgba(30, 30, 240, 0.4); */
  border-color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 3px;
  box-shadow: 0 2px 4px 0 rgba(39, 43, 58, 0.19), 0 1px 2px 0 rgba(0, 0, 0, .14);
}

.stages-bar-stage:hover .stages-bar-stage-delete-button {
  display: block;
}

.stages-bar-stage-delete-button {
  display: none;
  color: rgb(180, 50, 50);
  background: white;
  border-radius: 50%;
  position: absolute;
  padding: 1px 3px;
  /* padding: 0; */
  z-index: 1;
  top: -7px;
  right: -7px;
  width: 14px;
  height: 14px;
  transition: 150ms all;
  font-size: 20px;
}

.stages-bar-stage-delete-button:hover {
  cursor: pointer;
  color: rgb(240, 50, 50);
}

.stages-bar-add-new-stage-area {
  display: inline-block;
  margin-left: 2px;
  position: relative;
}

.stages-bar-add-stage-button {
  border-radius: 50%;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 2px;
  text-align: center;
  transform: scale(0.7);
}

.stages-bar-add-stage-button:hover {
  cursor: pointer;
}

.stages-bar-add-new-stage-dropdown {
  position: absolute;
  top: 10px;
  left: 12px;
  border: 1px solid black;
  z-index: 20;
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.stages-bar-add-new-stage-option:not(:last-child) {
  border-bottom: 1px solid #343434;
}

.stages-bar-add-new-stage-option {
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: #232323;
  position: relative;
  padding: 4px 8px;
  font-weight: bold;
  text-decoration: none;
}

.stages-bar-add-new-stage-option:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.stages-bar-add-new-stage-option-text {
  /* background: white; */
  text-decoration: none;
  color: #232323;
}

/* .stages-bar-add-new-stage-option-button:hover {
  cursor: pointer;
  /* background: #f5f5f5; */
/*} */

.stages-bar-add-new-stage-info-hover {
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 2px;
  margin-left: 6px;
  font-size: 9pt;
  border: 1px solid #343434;
  padding: 8px;
  font-weight: normal;
  background: white;
  min-width: 200px;
}

.stages-bar-add-new-stage-info-hover::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -6px;
  /* left: -10px; */
  z-index: 1;
  /* opacity: 0; */
  /* transition: all .2s ease-out; */
  transform: translateY(-50%);
  /* Was border left */
  /* border-left: 10px solid #1b76c4; */
  /* border-right: 6px solid #1b76c4; */
  border-right: 6px solid #232323;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.stages-bar-add-new-stage-option:hover .stages-bar-add-new-stage-info-hover {
  visibility: visible;
}