.stages-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.stages-bar-stages-area {
  flex-grow: 1;
  border: 1px solid black;
  padding: 4px;
  display: flex;
}

.stages-bar-data-source {
  background-color: rgba(30, 240, 30, 0.4);
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px solid black;
  display: inline-block;
  transition: 150ms all;
}

.stages-bar-data-source:hover {
  cursor: pointer;
}

.stages-bar-data-source-is-selected {
  box-shadow: 0 2px 4px 0 rgba(39, 43, 58, 0.19), 0 1px 2px 0 rgba(0, 0, 0, .14);
  border-color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 3px;
}

.stages-bar-stages-empty-space {
  flex-grow: 1;
}

.stages-bar-expand-button {
  float: right;
}

.stages-bar-stage-container {
  display: inline-block;
}

.stages-bar-stage-arrow-right {
  margin: 0 4px;
}

.stages-bar-stage {
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px solid black;
  display: inline-block;
  position: relative;
  transition: 200ms all;
}

.stages-bar-stage:hover {
  cursor: pointer;
}

.stages-bar-stage-is-selected {
  /* background-color: rgba(30, 30, 240, 0.4); */
  border-color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 3px;
  box-shadow: 0 2px 4px 0 rgba(39, 43, 58, 0.19), 0 1px 2px 0 rgba(0, 0, 0, .14);
}

.stages-bar-stage:hover .stages-bar-stage-delete-button {
  display: block;
}

.stages-bar-stage-delete-button {
  display: none;
  color: rgb(180, 50, 50);
  background: white;
  border-radius: 50%;
  position: absolute;
  padding: 1px 3px;
  /* padding: 0; */
  z-index: 1;
  top: -7px;
  right: -7px;
  width: 14px;
  height: 14px;
  transition: 150ms all;
  font-size: 14px;
}

.stages-bar-stage-delete-button:hover {
  cursor: pointer;
  color: rgb(240, 50, 50);
}

.stages-bar-add-new-stage-area {
  display: inline-block;
  margin-left: 2px;
  position: relative;
}

.stages-bar-add-stage-button {
  border-radius: 50%;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 2px;
  text-align: center;
  margin-top: 4px;
  vertical-align: middle;
}

.stages-bar-add-stage-button:hover {
  cursor: pointer;
}

.stages-bar-add-new-stage-dropdown {
  position: absolute;
  top: 10px;
  left: 12px;
  border: 1px solid black;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.stages-bar-add-new-stage-option:not(:last-child) {
  border-bottom: 1px solid #343434;
}

.stages-bar-add-new-stage-option {
  padding: 2px 6px;
  background: white;
  text-decoration: none;
  color: #232323;
}

.stages-bar-add-new-stage-option:hover {
  cursor: pointer;
  background: #f5f5f5;
}