.aggregate-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 16px;
  /* was 14 7 */
  font-size: 14px;
}

.aggregate-editor-area-title {
  flex-grow: 1;
  font-weight: bold;
}

.aggregate-editor-metrics-top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
}

.aggregate-editor-metrics-container {
  position: relative;
}

.aggregate-editor-add-metric-button:hover {
  cursor: pointer;
}

.aggregate-editor-metrics-list {
  min-height: 200px;
  width: 100%;
  border: 1px solid black;
  margin-top: 8px;
}

.aggregate-editor-metrics-list-item {
  padding: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.aggregate-editor-metrics-list-item-name {
  flex-grow: 1;
}

.aggregate-editor-remove-metric-button {
  margin-left: 10px;
  border: none;
  background: none;
}

.aggregate-editor-remove-metric-button:hover {
  cursor: pointer;
  color: red;
}

.aggregate-editor-group-by-list {
  min-height: 200px;
  width: 100%;
  border: 1px solid black;
  margin-top: 8px;
  padding: 4px 2px;
}

.aggregate-editor-group-by-list-empty {
  padding: 8px;
}

.aggregate-editor-group-by-list-item {
  padding: 4px 6px;
  display: flex;
  flex-direction: row;
}

.aggregate-editor-group-by-list-item-name {
  margin-left: 4px;
  /* display: inline-block; */
}

.aggregate-editor-metric-config-item-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.aggregate-editor-metric-config-item {
  margin-bottom: 24px;
}

.aggregate-editor-metric-config-add-button {
  float: right;
  margin-right: 10px;
}

.aggregate-editor-metric-config-add-button:hover {
  cursor: pointer;
}

.aggregate-editor-metric-name-input {
  padding: 4px 8px;
}