.stage-workspace-empty-state {
  margin: 40px auto;
}

.stage-workspace-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

.stage-workspace {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}