.sample-documents-container {
  /* width: 40%; */
  border-right: 1px solid black;
  padding: 10px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sample-documents-document {
  margin: 10px 0;
  background-color: white;
  /* white-space: normal; */
  overflow: auto;
}