.sample-documents-container {
  /* width: 40%; */
  border-right: 1px solid black;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 11pt;
}

.sample-documents-text {
  padding:15px;
  font-family: Helvetica;
  font-weight: bold;
}

.sample-documents-document {
  margin: 4px 0;
  padding: 15px;
  padding-left: 25px;
  background-color: white;
  /* white-space: normal; */
  overflow: auto;
}